<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full-Stack/Database QAP3</title>
  </head>
  <body>
    <h1>DAL's Restaurant</h1>
        <% include('./partials/nav.ejs') %>
    <div class="menu">
        <form action="/menu" method="post">
            <h2>Menu</h2></br>
                <% if (menu.length > 0) { %>
                    <% menu.forEach((menuItem) => { %>
                        <a href="/menu/<%= menuItem.id %>"><%= menuItem.name %></a> - $<%= menuItem.price %></br>
                        <a href="/menu/edit<%= menuItem.id %>">Edit</a>
                        <a href="/menu/delete/<%= menuItem.id %>">Delete</a>
                    <% }) %>
                <% } else { %>
                    <p>No menu items found</p>
                <% } %>
        </form>
        </br>
    </div>

    <div class="addMenuItem">
        <h2>Add Menu Item</h2>
        <form action="/menu" method="post">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="price" placeholder="Price" required>
            <button type="submit">Add</button>
        </form>
  </body>