<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="menu content">
            <form action="/menu" method="POST">
                <b>Menu:</b><br>
            <% if (aMenu.length > 0) { %>
                <% aMenu.forEach(menu => { %>
                    <b><%= menu.item %></b>
                    <a href="/menu/<%=menu.id%>/edit?item=<%=menu.item%>">edit</a>
                    <a href="/menu/<%=menu.id%>/delete?item=<%=menu.item%>">delete</a></br> 
                    <% }) %>
            <% } %>
            <br><label>Add Menu Item:</label><br>
            <label>Item:
                <input type="text" id="item" name="item" value="<%= locals.item %>" required>
            </label>
            <label>Price:
                <input type="text" id="price" name="price" value="<%= locals.price %>" required>
            </label>
            <br>
            <button>POST</button>
            </form>
        </div>
    </body>
    <%- include('../partials/foot.ejs') %>
</html>