<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>DAL's Restaurant</h1>
    <% include('./partials/nav.ejs') %>
    <p>
        <h2>Edit Menu Item</h2>
        <form action="/menu/<%= menuItem.id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= menuItem.name %>" />
            <input type="text" name="price" value="<%= menuItem.price %>" />
            <button type="submit">Submit</button>
        </form>
    </p>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>