<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>DAL's Restaurant</h1>
    <% include('./partials/nav.ejs') %>
    <p>
        <h2><%= menuItem.id %></h2>
        <p><%= menuItem.name %></p>
        <p><%= menuItem.price %></p>
    </p>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>