<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="menu content">
            <form action="/menu" method="POST">
                <b>Menu:</b><br>
            <% if (theMenu.length > 0) { %>
                <% theMenu.forEach(menu => { %>
                    <b>
                        <%= menu.pizza_name %>
                        <%= menu.price %>
                    </b>
                    <a href="/menu/<%=theMenu.id%>/edit?item=<%=theMenu.pizza_name%>">edit</a>
                    <a href="/menu/<%=theMenu.id%>/delete?item=<%=theMenu.pizza_name%>">delete</a></br> 
                    <% }) %>
            <% } %>
            <br><label>Add Menu Item:</label><br>
            <label>Pizza Name:
                <input type="text" id="item" name="item" value="<%= locals.pizza_name %>" required>
            </label>
            <label>Price:
                <input type="text" id="price" name="price" value="<%= locals.price %>" required>
            </label>
            <br>
            <button>POST</button>
            </form>
        </div>
    </body>
    <%- include('../partials/foot.ejs') %>
</html>