<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <% include('../partials/nav.ejs') %>
    <div class="menu content">
      <form action="/menu/<%= locals.id %>?_method=PATCH" method = "POST">
        <h2>Pizza:</h2>
        <% if (theMenu[id].length > 0)
            var menuItem = theMenu[0];{ %>
            <h3><%= theMenu.pizza_name %> <%= theMenu.price %></h3>
        <% } %>

    </div>
  </body>
  <%- include('../partials/foot.ejs') %>
</html>